@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Root Variables for Colors and Fonts */
:root {
    --primary-color: rgb(133,159,253);
    --secondary-color: rgb(122,96,2);
    --text-color: #000;

    /* Font Variables */
    --pop-5: normal normal 500 medium/normal 'Poppins', sans-serif;
    --pop-65: normal normal 650 medium/normal 'Poppins', sans-serif;
    --pop-7: normal normal 700 medium/normal 'Poppins', sans-serif;
    --as-5: normal normal 500 medium/normal 'Albert Sans', serif;
    --as-65: normal normal 650 medium/normal 'Albert Sans', serif;
    --edu-5: normal normal 500 medium/normal 'Edu AU VIC WA NT Guides', serif;
    --edu-65: normal normal 650 medium/normal 'Edu AU VIC WA NT Guides', serif;
    --play-5: normal normal 500 medium/normal 'Playwrite GB S', serif;
    --tit-5: normal normal 500 medium/normal 'Titilium Web', serif;
    --in-5: normal normal 500 medium/normal 'Inter', sans-serif;
}

/* Global Styles */
* {
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight:500;
}

a{
  color:inherit;
  text-decoration:none;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--primary-color);
    color: var(--text-color);
    width: 100vw;
    height: 100vh;
}

/* Navigation Styles */
nav {
    position: fixed;
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 5%;
    width: 90%;
    justify-content: space-between;
    backdrop-filter: blur(10px);
}

nav .logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}

/* Navigation Links */
.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    position: relative;
}

.nav-links li a {
    color: inherit;
    text-decoration: none;
    padding: 5px 0;
    font-weight: 600;
}

.nav-links li a::before {
    content: "";
    position: absolute;
    height: 3px;
    background: var(--text-color);
    width: 0px;
    left: 0;
    bottom: 0;
    z-index: 4;
}

.nav-links li a:hover::before {
    animation: stretch 0.4s ease-in-out forwards;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    cursor: none;
}

/* Introduction Section */
#introduction {
    display: flex;
    height: 100vh;
    align-items: center;
    width: 100%;
    justify-content: center;
    position:relative;
    z-index:-1;
}

/* Content within Introduction */
#introduction .content {
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
h1 {
    font: var(--play-65);
    font-size: 2rem;
}

h2 {
    font: var(--as-65);
    font-weight: 600;
    font-size: 1.9rem;
}
#introduction .head{
  height:1.9rem;
  overflow:hidden;
  position:relative;
}
.head h2{
  position:relative;
  animation: slide-up 1s ease;
}
#introduction .short-desc{
  height:2rem;
  disaplay:flex;
  flex-wrap: wrap;
  overflow:hidden;
  position:relative;
}
.short-desc h1{
  position:relative;
  top:100%;
  animation: slide-up 1s ease-in-out forwards;
  animation-delay: 0.7s;
}
#introduction .desc{
  height:2rem;
  overflow:hidden;
  position:relative;
}
.desc p{
  position:relative;
  top:100%;
  animation: slide-up 1s ease-in-out forwards;
  animation-delay: 1.4s;
}
#introduction .buttons {
    display: flex;
    gap: 20px;
    position: relative;
    overflow: hidden;
    height: 43px;
}

/* Button Styles */
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 110px;
    font: var(--as-65);
    font-size: 1.1rem;
    border: 1.5px solid var(--secondary-color);
    border-radius: 3px;
    position: relative;
    animation: slide-up 0.7s ease-in-out forwards;
    top: 110%;
}

.button.primary {
    background: var(--secondary-color);
    animation-delay: 2.1s;
}

.button.secondary {
    color: var(--secondary-color);
    animation-delay: 2.8s;
}
    .wrapper {
      margin: 50px auto;
      max-width: 800px;
      box-shadow: 0px 25px 30px -20px rgba(0, 0, 0, 0.2);
      z-index: -1;
    }

    .grid {
      margin: 0 auto;
      padding: 10px;
     /* -webkit-perspective: 1;
      perspective: 1;*/
      z-index:-1;
    }

    .grid-item {
      width: 180px;
      height: 100px;
      margin-bottom: 10px;
      border-radius: 4px;
      overflow: hidden;
      cursor: pointer;
      position: relative;
      opacity: 0;
    }

    .grid-item.is-visible {
      animation: Items .6s ease-in forwards;
    }

    @keyframes Items {
      0% {
        opacity: 0;
        -webkit-transform: scale(0.3) rotateY(90deg);
        transform: scale(0.3) rotateY(90deg);
      }
      60% {
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
      }
      90% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
      }
      100% {
        opacity: 1;
      }
    }

    .fancybox {
      display: block;
      width: 100%;
      height: 100%;
      height: 100%;
      width: 100%;
      border-radius: 4px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      transition: all .5s;
      
    }

    .grid-item:hover .fancybox {
      transform: scale(1.1);
    }

    .grid-item:nth-child(1) .fancybox {
      background-image: url(media/chands-1.jpg);
    }

    .grid-item:nth-child(2) .fancybox {
      background-image: url(/media/chands-2.jpg);
    }

    .grid-item:nth-child(3) .fancybox {
      background-image: url(/media/chands-3.jpg);
    }

    .grid-item:nth-child(4) .fancybox {
      background-image: url(/media/chands-4.jpg);
    }

    .grid-item:nth-child(5) .fancybox {
      background-image: url(/media/chands-5.jpg);
    }

    .grid-item:nth-child(6) .fancybox {
      background-image: url(/media/chands-6.jpg);
    }

    .grid-item:nth-child(7) .fancybox {
      background-image: url(/media/chands-7.jpg);
    }

    .grid-item:nth-child(8) .fancybox {
      background-image: url(/media/chands-8.jpg);
    }

    .grid-item:nth-child(9) .fancybox {
      background-image: url(/media/chands-9.jpg);
    }

    .grid-item:nth-child(10) .fancybox {
      background-image: url(/media/chands-10.jpg);
    }

    .grid-item:nth-child(11) .fancybox {
      background-image: url(/media/chands-11.jpg);
    }

    .grid-item:nth-child(12) .fancybox {
      background-image: url(/media/chands-12.jpg);
    }

    .grid-item:nth-child(13) .fancybox {
      background-image: url(/media/chands-13.jpg);
    }

    .grid-item:nth-child(14) .fancybox {
      background-image: url(/media/chands-14.jpg);
    }

    .grid-item:nth-child(15) .fancybox {
      background-image: url(/media/chands-15.jpg);
    }

    .grid-item:nth-child(16) .fancybox {
      background-image: url(/media/chands-16.jpg);
    }

    .grid-item:nth-child(17) .fancybox {
      background-image: url(/media/chands-17.jpg);
    }

    .grid-item:nth-child(18) .fancybox {
      background-image: url(/media/chands-18.jpg);
    }

    .grid-item:nth-child(19) .fancybox {
      background-image: url(/media/chands-19.jpg);
    }

    .grid-item:nth-child(4n-5) {
      height: 50px;
    }

    .grid-item:nth-child(2n) {
      height: 300px;
    }

    .grid-item:nth-child(3n) {
      height: 120px;
    }
/* Mobile Responsiveness */
@media (max-width: 720px) {
    .nav-links {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        align-items: center;
        gap: 20px;
        padding: 110px 0 0 0;
        font-size: 1.2rem;
        flex-direction: column;
        width: 100%;
        height: calc(100vh - 80px);
        background: var(--primary-color);
    }

    #hamburger:checked + .hamburger + .nav-links {
        left: 0;
        animation: slide-in 0.1s ease-in-out forwards;
        display: flex;
    }

    #hamburger:checked + .hamburger::after {
        right: 20px;
    }

    .nav-links li {
        animation: slide-in 0.8s ease-in-out forwards;
        left: -100%;
    }

    .nav-links li:nth-child(1) {
        animation-delay: 0.1s;
    }
    .nav-links li:nth-child(2) {
        animation-delay: 0.2s;
    }
    .nav-links li:nth-child(3) {
        animation-delay: 0.4s;
    }
    .nav-links li:nth-child(4) {
        animation-delay: 0.6s;
    }

    .hamburger {
        display: block;
        font-size: 2rem;
        font-weight: 700;
    }
    
    .fancybox-wrap {
    display: none !important;
}

    .hamburger::after {
        content: "x";
        position: absolute;
        right: -300px;
        top: 15px;
        z-index: 2;
        transition: right 0.5s ease;
    }
    #introduction .short-desc{
      height:5.2rem;
    }
    #introduction .desc{
      height:4.2rem;
    }
    
}

/* Keyframes for Animations */
@keyframes slide-up {
    0% {
        top: 100%;
    }
    100% {
        top: 0;
    }
}

@keyframes stretch {
    from {
        width: 0px;
    }
    to {
        width: 55px;
    }
}

@keyframes slide-in {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}

@keyframes slide-out {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}
